.audio-icon {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .audio-icon img {
    width: 5px; /* Ajuste o tamanho do ícone */
    height: 5px;
  }
  
  .audio-icon:active {
    transform: scale(0.9);
  }
  
  .audio-icon.playing {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .clickable {
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  
  .clickable:active {
    transform: scale(0.9); /* Reduz o tamanho ligeiramente ao clicar */
    opacity: 0.7; /* Torna mais transparente ao clicar */
  }
  
  .disabled {
    opacity: 0.5; /* Deixa a imagem opaca quando desabilitada */
    pointer-events: none; /* Impede qualquer interação com a imagem */
  }
  